<!DOCTYPE html>
<html>
  <head>
    <title>SomaGrandOpening</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

    <ul class="nav nav-tabs">
    	<li><%= link_to "APR SoMa Grand Opening", welcome_index_path %> </li>
    	<li> <%= link_to "Questions?", welcome_contact_path %> </li>
    </ul>
    <%= yield %>
  </body>
  </div>
</html>
